.trangChiTitSnPhm {
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 1368px;
  height: 3535px;
  overflow: hidden;
  flex-shrink: 0;
}
.trangChiTitSnPhmParent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
